[user]
	name = Vlad Pirlog
	email = vlad@pirlog.com
	signingkey = 3BC079E13034C758
[gpg]
	program = gpg
[commit]
	gpgSign = true
[init]
	defaultBranch = main
[tag]
	gpgSign = true
[sendemail]
	smtpUser = vlad@pirlog.com
	from = Vlad Pirlog <vlad@pirlog.com>
	smtpEncryption = ssl
	smtpServer = smtp.pirlog.com
	smtpServerPort = 465
	suppresscc = self
